In [482]:
#1) Quote of each posts
#2) Author of each posts
#3) Link to author
#4) Tags of each posts

In [8]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [10]:
url = 'https://quotes.toscrape.com/'
response = requests.get(url)
trainings_soup =  BeautifulSoup(response.text, 'html.parser')

In [12]:
#trainings_soup

In [14]:
quote = []
names = trainings_soup.findAll('span',attrs={"class":"text"})
print(names)

[<span class="text" itemprop="text">“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”</span>, <span class="text" itemprop="text">“It is our choices, Harry, that show what we truly are, far more than our abilities.”</span>, <span class="text" itemprop="text">“There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.”</span>, <span class="text" itemprop="text">“The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.”</span>, <span class="text" itemprop="text">“Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.”</span>, <span class="text" itemprop="text">“Try not to become a man of success. Rather become a man of value.”</span>, <span class="text" itemprop="text">“It is better to be hated for what you are than to be loved for what you are not.”</span>, <span class="text" itemprop="text">“I have not failed. I've just found 10,000 ways that won't work.”</span>, <span class="text" itemprop="text">“A woman is like a tea bag; you never know how strong it is until it's in hot water.”</span>, <span class="text" itemprop="text">“A day without sunshine is like, you know, night.”</span>]

In [16]:
for train_names in names:
    quote.append(train_names.text)

t = map(lambda s: s.strip(), quote)
quote = list(t)
quote

['“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”',
 '“It is our choices, Harry, that show what we truly are, far more than our abilities.”',
 '“There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.”',
 '“The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.”',
 "“Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.”",
 '“Try not to become a man of success. Rather become a man of value.”',
 '“It is better to be hated for what you are than to be loved for what you are not.”',
 "“I have not failed. I've just found 10,000 ways that won't work.”",
 "“A woman is like a tea bag; you never know how strong it is until it's in hot water.”",
 '“A day without sunshine is like, you know, night.”']

In [18]:
author = []
authors = trainings_soup.findAll('small',{'class':'author'})
print(authors)

[<small class="author" itemprop="author">Albert Einstein</small>, <small class="author" itemprop="author">J.K. Rowling</small>, <small class="author" itemprop="author">Albert Einstein</small>, <small class="author" itemprop="author">Jane Austen</small>, <small class="author" itemprop="author">Marilyn Monroe</small>, <small class="author" itemprop="author">Albert Einstein</small>, <small class="author" itemprop="author">André Gide</small>, <small class="author" itemprop="author">Thomas A. Edison</small>, <small class="author" itemprop="author">Eleanor Roosevelt</small>, <small class="author" itemprop="author">Steve Martin</small>]

In [20]:
for i in authors:
    author.append(i.text)
    
a = map(lambda s: s.strip(), author)
author = list(a)
author

['Albert Einstein',
 'J.K. Rowling',
 'Albert Einstein',
 'Jane Austen',
 'Marilyn Monroe',
 'Albert Einstein',
 'André Gide',
 'Thomas A. Edison',
 'Eleanor Roosevelt',
 'Steve Martin']

In [22]:
links = trainings_soup.find_all('div',attrs={"class":"quote"})
#links

In [24]:
link = []
for i in links:
    i.find("a").get("href")
    link.append(i.find("a").get("href"))
link

['/author/Albert-Einstein',
 '/author/J-K-Rowling',
 '/author/Albert-Einstein',
 '/author/Jane-Austen',
 '/author/Marilyn-Monroe',
 '/author/Albert-Einstein',
 '/author/Andre-Gide',
 '/author/Thomas-A-Edison',
 '/author/Eleanor-Roosevelt',
 '/author/Steve-Martin']

In [26]:
tag = []
#tags = trainings_soup.findAll('a', {'class':'tag'})
tags = trainings_soup.findAll('div', {'class':'tags'})
#tags
for i in tags:
    tag.append(i.text.strip())
tag

['Tags:\n            \nchange\ndeep-thoughts\nthinking\nworld',
 'Tags:\n            \nabilities\nchoices',
 'Tags:\n            \ninspirational\nlife\nlive\nmiracle\nmiracles',
 'Tags:\n            \naliteracy\nbooks\nclassic\nhumor',
 'Tags:\n            \nbe-yourself\ninspirational',
 'Tags:\n            \nadulthood\nsuccess\nvalue',
 'Tags:\n            \nlife\nlove',
 'Tags:\n            \nedison\nfailure\ninspirational\nparaphrased',
 'Tags:\n            \nmisattributed-eleanor-roosevelt',
 'Tags:\n            \nhumor\nobvious\nsimile']

In [28]:
column_names = ['quote','author','link','tag']
data_list = (quote,author,link,tag)
result = pd.DataFrame(data_list, column_names).T
result['tag'] = result['tag'].str.replace('Tags:\n ','').str.replace("\n"," ")
result.head(3)

,quote,author,link,tag
0,“The world as we have created it is a process ...,Albert Einstein,/author/Albert-Einstein,change deep-thoughts thinking world
1,"“It is our choices, Harry, that show what we t...",J.K. Rowling,/author/J-K-Rowling,abilities choices
2,“There are only two ways to live your life. On...,Albert Einstein,/author/Albert-Einstein,inspirational life live miracle mi...

In [30]:
result = result.to_csv("week8day1pythn_result.csv")
result = pd.read_csv("week8day1pythn_result.csv")
result.head()

#result.drop('Unnamed: 0',axis=1).head(3)

,Unnamed: 0,quote,author,link,tag
0,0,“The world as we have created it is a process ...,Albert Einstein,/author/Albert-Einstein,change deep-thoughts thinking world
1,1,"“It is our choices, Harry, that show what we t...",J.K. Rowling,/author/J-K-Rowling,abilities choices
2,2,“There are only two ways to live your life. On...,Albert Einstein,/author/Albert-Einstein,inspirational life live miracle mi...
3,3,"“The person, be it gentleman or lady, who has ...",Jane Austen,/author/Jane-Austen,aliteracy books classic humor
4,4,"“Imperfection is beauty, madness is genius and...",Marilyn Monroe,/author/Marilyn-Monroe,be-yourself inspirational

In [32]:
result.drop('Unnamed: 0',axis=1).head()

,quote,author,link,tag
0,“The world as we have created it is a process ...,Albert Einstein,/author/Albert-Einstein,change deep-thoughts thinking world
1,"“It is our choices, Harry, that show what we t...",J.K. Rowling,/author/J-K-Rowling,abilities choices
2,“There are only two ways to live your life. On...,Albert Einstein,/author/Albert-Einstein,inspirational life live miracle mi...
3,"“The person, be it gentleman or lady, who has ...",Jane Austen,/author/Jane-Austen,aliteracy books classic humor
4,"“Imperfection is beauty, madness is genius and...",Marilyn Monroe,/author/Marilyn-Monroe,be-yourself inspirational